{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ReservaTuFuturo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'home/favicon.ico' %}" />
  </head>
  <body>
    <header>
      <nav>
        <!-- Nombre de la empresa -->
        <a href="{% url 'homepage' %}" class="brand">ReservaTuFuturo</a>

        <!-- Enlaces de navegación -->
        <div class="nav-links">
          <a href="{% url 'courses' %}">Catálogo</a>
          {% if user.is_authenticated %}
            {% if not user_in_academy %}
              <a href="{% url 'cart:cart' %}">Cesta</a>
              <a href="{% url 'my_courses' %}">Mis Cursos</a>
            {% endif %}
            <a href="{% url 'profile' %}">Mi Perfil</a>
            <a href="#" onclick="document.getElementById('logout-form').submit();">
              Cerrar sesión
            </a>
            <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none">
              {% csrf_token %}
            </form>
          {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
            <a href="{% url 'register' %}">Registrarse</a>
          {% endif %}
        </div>
      </nav>
    </header>

    <!-- Sección para mostrar mensajes -->
    {% if messages %}
      <div class="messages-container">
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
