{% extends 'home/base.html' %}
{% load static %}

{% block title %}ReservaTuFuturo - Tu Mejor Oportunidad para Aprobar Oposiciones{% endblock %}

{% block content %}
    <div class="container">
        <!-- Sección de bienvenida -->
        <section class="welcome-section">
            <h1>Bienvenido a ReservaTuFuturo</h1>
            <p>ReservaTuFuturo es tu aliado en el camino hacia una carrera pública exitosa. Ofrecemos una amplia gama de cursos especializados para oposiciones, diseñados para ayudarte a conseguir la plaza que deseas.</p>
        </section>

        <!-- Sección del catálogo de cursos -->
        <section class="courses-section">
            <h2>Escaparate</h2>
            <!-- Barra de búsqueda -->
            <form method="get" action="{% url 'homepage' %}" class="search-form">
              <input type="text" class="name-search" name="name_search" placeholder="Nombre del curso" value="{{ name_query }}">
              <select name="type_search">
                  <option value="">Selecciona una categoría</option>
                  {% for type in type_choices %}
                      <option value="{{ type.0 }}" {% if type_query == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                  {% endfor %}
              </select>
              <input type="date" name="date_search" placeholder="Fecha de Inicio/Fin" value="{{ date_query }}">
              <button type="submit" class="btn btn-search">Buscar</button>
              <input type="hidden" name="search" value="1">
            </form>
            <div class="courses-grid">
              {% if courses %}
                {% for course in courses %}
                <div class="course-box
                        {% if course.id in cart_course_ids %}in-cart
                        {% elif course.id in pending_course_ids %}pending
                        {% elif course.id in enrolled_course_ids %}enrolled
                        {% elif course.available_slots == 0 %}full
                        {% endif %}
                        {% if course.starting_date < today %} past
                        {% endif %}
                        {% if course.ending_date < today %} finished
                        {% endif %}">
                    <div class="course-row">
                      <div class="course-image-home-column">
                        <a href="{% url 'course_detail' course.id %}">
                          {% if course.image %}
                          <a href="{% url 'course_detail' course.id %}">
                              <img class="course-detail-img" src="{{ course.image_url }}" alt="Imagen de {{ course.name }}" />
                          </a>
                      {% else %}
                          <img src="{% static 'home/logo.png' %}" alt="" class="default-img" >
                      {% endif %}
                        </a>
                      </div>
                      <div class="course-details-column">
                        <h3>
                          <a href="{% url 'course_detail' course.id %}" class="course-name">
                            {{ course.name }}
                          </a>
                        </h3>
                        <p><strong>Profesor:</strong> {{ course.teacher }}</p>
                        <p><strong>Precio:</strong> {{ course.price }}€</p>
                        <p><strong>Fecha de inicio:</strong> {{ course.starting_date }}</p>
                        <p><strong>Fecha de finalización:</strong> {{ course.ending_date }}</p>
                        <p><strong>Plazas disponibles:</strong> {{ course.available_slots }} estudiantes</p>

                        {% if user.is_authenticated %}
                            {% if course.ending_date < today %}
                                <span class="badge finished-badge">Terminado</span>
                            {% elif course.starting_date < today %}
                                <span class="badge past-badge">Comenzado</span>
                            {% elif course.id in cart_course_ids %}
                                <span class="badge in-cart-badge">En la Cesta</span>
                            {% elif course.id in pending_course_ids %}
                                <span class="badge pending-badge">Pendiente de Pago</span>
                            {% elif course.id in enrolled_course_ids %}
                                <span class="badge enrolled-badge">Inscrito</span>
                            {% elif course.available_slots == 0 %}
                                <span class="badge full-badge">Completo</span>
                            {% endif %}
                        {% else %}
                            {% if course.available_slots == 0 %}
                                <span class="badge full-badge">Completo</span>
                            {% endif %}
                        {% endif %}

                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>No se encontraron cursos que coincidan con los criterios de búsqueda.</p>
              {% endif %}
            </div>
        </section>

        <!-- Sección sobre la academia Bull Academy -->
        <section class="academy-section">
          <h2>Sobre Bull Academy</h2>
          <p>Bull Academy es la academia responsable de gestionar nuestros cursos y mantener la plataforma en funcionamiento. Nuestro equipo está compuesto por expertos con una amplia trayectoria en la formación para opositores, con el objetivo de ofrecerte la mejor preparación posible.</p>
          <p>En <strong>ReservaTuFuturo</strong>, estamos comprometidos a brindarte el mejor apoyo y recursos para que puedas superar tus oposiciones. Nuestros cursos están diseñados por expertos en el área, con materiales actualizados y simulaciones de exámenes para que llegues a la meta con confianza.</p>
          <p>Ofrecemos cursos personalizados y recursos exclusivos en áreas como justicia, educación, administración y muchos más. Cada curso está cuidadosamente estructurado para cubrir todo lo necesario para el éxito en tu oposición.</p>
          <p>Para cualquier consulta o soporte, no dudes en ponerte en contacto con nosotros.</p>
          <ul>
            <li><strong>Teléfono:</strong> <a href="tel:+34123456789" class="email-link">+34 123 456 789</a></li>
            <li><strong>Email:</strong> <a href="mailto:reservatufuturo@gmx.com" class="email-link">reservatufuturo@gmx.com</a></li>
            <li><strong>Dirección:</strong><a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=/maps/place//data%3D!4m2!3m1!1s0x12a498f576297baf:0x44f65330fe1b04b9%3Fsa%3DX%26ved%3D1t:8290%26ictx%3D111&ved=2ahUKEwjrlZiLxf-JAxUuVKQEHYrHAUoQ4kB6BAhQEAM&usg=AOvVaw09YhoJ0QNrxfFKcfrCRGuX" class="email-link"> Distrito de Les Corts, 08028 Barcelona</a></li>
          </ul>
        </section>

        <!-- Sección de beneficios de los cursos -->
        <section class="benefits-section">
            <h2>¿Por qué elegir ReservaTuFuturo?</h2>
            <ul>
                <li><strong>Experiencia y calidad:</strong> Cursos diseñados por profesionales con años de experiencia en oposiciones.</li>
                <li><strong>Presencial:</strong> Todos nuestros cursos se imparten de manera presencial en nuestra academia.</li>
                <li><strong>Simulaciones de exámenes:</strong> Realiza simulaciones de exámenes y practica con preguntas reales.</li>
                <li><strong>Soporte personalizado:</strong> Acceso a tutores y orientación individual para resolver tus dudas.</li>
            </ul>
        </section>

        <!-- Llamado a la acción -->
        {% if not user.is_authenticated %}
        <section class="cta-section">
          <h2>¡Reserva tu futuro hoy mismo!</h2>
          <p>No pierdas la oportunidad de comenzar tu preparación con los mejores. Inscríbete en uno de nuestros cursos y da el primer paso hacia tu plaza soñada.</p>
          <a href="{% url 'register' %}" class="cta-button">Registrarse</a>
        </section>
        {% endif %}

        <!-- Sección de términos y condiciones -->
        <section class="terms-section">
          <h2>Términos y Condiciones</h2>
          <p>Se cobrarán 5€ de gastos de gestión para los cursos con un precio inferior a 150€.</p>
          <p>No se aceptan devoluciones.</p>
        </section>
    </div>
{% endblock %}