{% extends 'home/base.html' %} 
{% block title %}ReservaTuFuturo - Carrito{%endblock %} 
{% block content %} {% load static %}

<h1>Carrito de Compras</h1>

{% if reservations %}
<table>
  <tr>
    <th>Curso</th>
    <th>Precio</th>
    <th>Acciones</th>
  </tr>
  {% for reservation in reservations %}
  <tr>
    <td>{{ reservation.course.name }}</td>
    <td>${{ reservation.course.price }}</td>
    <td>
      <a href="">Eliminar</a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>Total: ${{ total_price }}</p>
<a href="">Finalizar Compra</a>
{% else %}
<p>Tu carrito está vacío.</p>
{% endif %} {% endblock %}
