{% extends 'home/base.html' %}
{% load static %}


{% block title %}Pago Exitoso{% endblock %}

{% block content %}
<div class="payment-success-container">
  <h1 class="payment-success-title">¡Se ha establecido el pago en efectivo con éxito!</h1>
  <p class="payment-success-message">
    Gracias por tu compra. Deberás abonar el importe total en efectivo en la recepción de la escuela antes de que comience el curso.
  </p>
  <a href="{% url 'courses' %}" class="btn btn-primary payment-success-button">Volver al Catálogo</a>
</div>
{% endblock %}
