{% extends 'home/base.html' %}
{% load static %}

{% block title %}Seguimiento de Reserva{% endblock %}

{% block content %}

<div class="tracking-info-container">
    <h1>Detalles de tu reserva</h1>
    
    {% if reservation %}
        <div class="reservation-details">
            <p><strong>Email del comprador:</strong> {{ reservation.email }}</p>
            <p><strong>Código de seguimiento:</strong> {{ reservation.tracking_code }}</p>
            <p><strong>Curso:</strong> {{ reservation.course.name }}</p>
            <p><strong>Fecha de inicio:</strong> {{ reservation.course.starting_date }}</p>
            <p><strong>Fecha de fin:</strong> {{ reservation.course.ending_date }}</p>
            <p><strong>Precio:</strong> {{ reservation.course.price }}0€</p>
            <p><strong>Tasas de gestión:</strong> {{ reservation.management_fee }}€</p>
            
            {% if reservation.paymentMethod == 'Pending' %}
                <p><strong>Método de pago:</strong> Efectivo</p>
                <p><strong>Estado de la reserva:</strong> Pendiente de pago</p>
                    <br><br>
                    <form action="{% url 'cart:pay_reservation' reservation.id %}" method="post" id="pay-form">
                        {% csrf_token %}
                        <button type="button" id="checkout-button-{{ reservation.id }}" class="btn btn-primary">
                          Pagar online
                        </button>
                      </form>

                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                      const stripe = Stripe("{{ stripe_publishable_key }}");

                      document
                        .getElementById("checkout-button-{{ reservation.id }}")
                        .addEventListener("click", function () {
                          fetch("{% url 'cart:pay_reservation' reservation.id %}", {
                            method: "POST",
                            headers: {
                              "X-CSRFToken": "{{ csrf_token }}",
                            },
                          })
                            .then((response) => response.json())
                            .then((data) => {
                              stripe.redirectToCheckout({ sessionId: data.id });
                            })
                            .catch((error) => console.error("Error:", error));
                        });
                    </script>
                </p>
            {% else %}
              <p><strong>Método de pago:</strong>
                {% if reservation.paymentMethod == "Cash" %}
                    Efectivo
                {% elif reservation.paymentMethod == "Online" %}
                    Online
                {% else %}
                    {{ reservation.paymentMethod }}
                {% endif %}
              </p>
              <p><strong>Estado de la reserva:</strong> Pagado</p>
            {% endif %}
            
            
        </div>
    {% else %}
        <p>No se encontró ninguna reserva con el código de seguimiento proporcionado.</p>
    {% endif %}
</div>

{% endblock %}
