{% extends 'home/base.html' %}

{% block title %}Inscritos - {{ course.name }}{% endblock %}

{% block content %}
<div class="form-container" style="max-width: 1000px;">
    <h1 class="form-title">Inscritos en el curso: {{ course.name }}</h1>

    {% if inscriptions %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Precio</th>
                <th>Tasa de gestión</th>
                <th>Método de Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inscription in inscriptions %}
            <tr>
                <td>
                    {% if inscription.user %}
                        {{ inscription.user.username }}
                    {% else %}
                        Usuario Anónimo
                    {% endif %}
                </td>
                <td>
                    {% if inscription.user %}
                        {{ inscription.user.email }}
                    {% else %}
                        {{ inscription.email }}
                    {% endif %}
                </td>
                <td>{{ course.price }}€</td>
                <td>
                    {% if course.price < 150 %}
                        5.00€
                    {% else %}
                        0.00€
                    {% endif %}
                </td>
                    
                </p>
                <td>
                    {% if inscription.paymentMethod == 'Pending' %}
                        Pendiente
                    {% elif inscription.paymentMethod == 'Online' %}
                        Online
                    {% elif inscription.paymentMethod == 'Cash' %}
                        Efectivo
                    {% else %}
                        {{ inscription.get_paymentMethod_display }}
                    {% endif %}
                </td>
                <td>
                    {% if inscription.paymentMethod == "Pending" %}
                        <!-- Botón para actualizar el método de pago -->
                        <form method="post" action="{% url 'update_payment_method' course.pk inscription.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-update-payment">Pagar</button>
                        </form>
                        <br>
                    {% endif %}
                    <!-- Botón para eliminar la inscripción -->
                    <form method="post" action="{% url 'remove_user_from_course' course.pk inscription.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-remove">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    </br>
    <p style="text-align: center;">No hay inscritos en este curso.</p>
    </br>
    {% endif %}

    <div class="button-container">
        <a href="{% url 'course_detail' course.pk %}" class="btn btn-secondary">Volver al curso</a>
    </div>
</div>
{% endblock %}
