{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{ course.name }} - ReservaTuFuturo{% endblock %}

{% block content %}

<div class="course-detail-container">
  <h1 class="course-detail-title">{{ course.name }}</h1>
  <h3 class="course-detail-type">{{ course.get_type_display }}</h3>

  <div class="course-detail-grid">
    <div class="course-detail-image">
      <img
        class="course-detail-img"
        src="{{ course.image.url}}"
        alt="Imagen de {{ course.name }}"
      />
    </div>

    <!-- Columna Derecha: Información del Curso -->
    <div class="course-detail-info">
      <p><strong>Profesor:</strong> {{ course.teacher }}</p>
      <p><strong>Precio:</strong> {{ course.price }}€</p>
      <p><strong>Capacidad:</strong> {{ course.capacity }} estudiantes</p>
      <p><strong>Plazas disponibles:</strong> {{ available_slots }} estudiantes</p>
      <p><strong>Fecha de inicio:</strong> {{ course.starting_date }}</p>
      <p><strong>Fecha de fin:</strong> {{ course.ending_date }}</p>
    </div>
  </div>

  <!-- Descripción del Curso -->
  <div class="course-detail-description">
    <h4 class="course-detail-description-title">Descripción del curso</h4>
    <p class="course-detail-description-text">{{ course.description }}</p>

    <div class="button-container">
      {% if user_in_academy %}
        <!-- Opciones para administradores -->
        <form action="{% url 'update_course' course.id %}" method="get">
          <button type="submit" class="btn btn-add-to-cart">Editar curso</button>
        </form>
        <form action="{% url 'delete_course' course.id %}" method="post" onsubmit="return confirmDelete()">
          {% csrf_token %}
          <button type="submit" class="btn btn-add-to-cart">Eliminar curso</button>
        </form>
        <a href="{% url 'course_inscriptions' course.id %}" class="btn btn-secondary">Ver inscritos</a>
      {% elif has_reservation %}
        <!-- Mostrar estado de la reserva -->
        <p>Ya tienes una reserva para este curso. Estado:
          <strong>
            {% if reservation.cart == True %}
              En la cesta.
              </strong>
              <div>
                <a href="{% url 'cart:cart' %}" class="btn btn-primary">Ir a la cesta</a>
              </div>
            {% elif reservation.paymentMethod == 'Pending' %}
              Pendiente de pago.
              </strong>
            </p>
            {% else %}
              Pagado.
              </strong>
            </p>
          {% endif %}
        {% else %}
        <!-- Opciones para usuarios -->
        {% if available_slots > 0 %}
          {% if user.is_authenticated %}
          <form action="{% url 'cart:add_to_cart' course.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-add-to-cart">Añadir a la cesta</button>
          </form>
          {% endif %}
          <form action="{% url 'cart:quick_purchase' course.id %}" method="get">
            <button type="submit" class="btn btn-add-to-cart">Compra rápida</button>
          </form>
        {% else %}
          <p>Este curso ya no tiene plazas disponibles.</p>
        {% endif %}
      {% endif %}
    </div>
    
  </div>
</div>

<script>
  function confirmDelete() {
    return confirm(
      "¿Estás seguro de que quieres eliminar este curso? Esta acción no se puede deshacer."
    );
  }
</script>
{% endblock %}
