{% extends 'home/base.html' %}


{% block content %}
  <h1>Curso: {{ course.name }}</h1>

  {% if course.image %}
    <img src="{{ course.image.url }}" alt="Imagen del curso {{ course.name }}" style="max-width: 300px; margin-bottom: 20px;">
  {% endif %}

  <p><strong>Profesor:</strong> {{ course.teacher }}</p>
  <p><strong>Precio:</strong> ${{ course.price }}</p>
  <p><strong>Capacidad:</strong> {{ course.capacity }} estudiantes</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Descripción del curso</h4>
    <p>Aquí puedes añadir más información sobre el curso en el futuro.</p>
  </div>
{% endblock %}
