{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{ course.name }} - ReservaTuFuturo{% endblock %}

{% block content %}
  <div class="course-detail-container">
    <h1 class="course-detail-title">{{ course.name }}</h1>
    <h3 class="course-detail-type">{{ course.get_type_display }}</h3>

    <div class="course-detail-grid">
      <!-- Columna Izquierda: Imagen -->
      <div class="course-detail-image">
        {% if course.image %}
          <img class="course-detail-img" src="{% static 'home/' %}{{ course.image }}" alt="Imagen de {{ course.name }}">
        {% else %}
        <img class="course-detail-img" src="{% static 'home/course_images/default_course_image.jpg' %}" alt="Imagen no disponible">
        {% endif %}
      </div>

      <!-- Columna Derecha: Información del Curso -->
      <div class="course-detail-info">
        <p><strong>Profesor:</strong> {{ course.teacher }}</p>
        <p><strong>Precio:</strong> {{ course.price }}€</p>
        <p><strong>Capacidad:</strong> {{ course.capacity }} estudiantes</p>
        <p><strong>Fecha de inicio:</strong> {{ course.starting_date }}</p>
        <p><strong>Fecha de fin:</strong> {{ course.ending_date }}</p>
      </div>
    </div>

    <!-- Descripción del Curso -->
    <div class="course-detail-description">
      <h4 class="course-detail-description-title">Descripción del curso</h4>
      <p class="course-detail-description-text">{{course.description}}</p>
      
      {% if not user_in_academy and not has_reservation %}
        <div class="button-container">
          {% if user.is_authenticated %}
          <form action="{% url 'cart:add_to_cart' course.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-add-to-cart">Añadir a la cesta</button>
          </form>      
          {% endif %}
          <div class="button-container">
            <form action="{% url 'cart:quick_purchase' course.id %}" method="get">
              <button type="submit" class="btn btn-add-to-cart">Compra rápida</button>
            </form>
            {% elif has_reservation %}
            <p>Ya tienes una reserva para este curso.</p>
          </div>
        </div>
      {% endif %}
    </div>
    
    
  </div>
{% endblock %}
