{% extends 'home/base.html' %}
{% load static %}

{% block title %}Mis Cursos{% endblock %}

{% block content %}
    <div class="container">
        <h2>Mis Cursos</h2>
        {% if cursos %}
            <div class="course-container">
                {% for curso in cursos %}
                    <div class="course-box">
                        <div class="course-row">
                            <div class="course-my-image-column">
                                {% if curso.image %}
                                    <a href="{% url 'course_detail' curso.id %}" class="course-name">
                                        <img class="course-img" src="{{ curso.image_url }}" alt="Imagen de {{ curso.name }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="course-details-column">
                                <h2>
                                    <a href="{% url 'course_detail' curso.id %}" class="course-name">{{ curso.name }}</a>
                                </h2>
                                <p><strong>Profesor:</strong> {{ curso.teacher }}</p>
                                <p><strong>Precio:</strong> {{ curso.price }}€</p>
                                <p><strong>Gastos de gestión:</strong> 
                                    {% if curso.price < 150 %}
                                        5.00€
                                    {% else %}
                                        0.00€
                                    {% endif %}
                                </p>
                                
                                <p><strong>Fecha de inicio:</strong> {{ curso.starting_date }}</p>
                                <p><strong>Plazas disponibles:</strong> {{ curso.available_slots }} estudiantes</p>
                                <p><strong>Estado del pago:</strong> {{ curso.payment_status }} 
                                {% if curso.payment_status == 'Pendiente de pago' %}
                                    <br><br>
                                    <form action="{% url 'cart:pay_course' curso.id %}" method="post" id="pay-form">
                                        {% csrf_token %}
                                        <button type="button" id="checkout-button-{{ curso.id }}" class="btn btn-primary">
                                          Pagar online
                                        </button>
                                      </form>

                                    <script src="https://js.stripe.com/v3/"></script>
                                    <script>
                                      const stripe = Stripe("{{ stripe_publishable_key }}");

                                      document
                                        .getElementById("checkout-button-{{ curso.id }}")
                                        .addEventListener("click", function () {
                                          fetch("{% url 'cart:pay_course' curso.id %}", {
                                            method: "POST",
                                            headers: {
                                              "X-CSRFToken": "{{ csrf_token }}",
                                            },
                                          })
                                            .then((response) => response.json())
                                            .then((data) => {
                                              stripe.redirectToCheckout({ sessionId: data.id });
                                            })
                                            .catch((error) => console.error("Error:", error));
                                        });
                                    </script>
                                {% endif %}
                            </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No tienes cursos reservados.</p>
        {% endif %}
    </div>
{% endblock %}
