{% extends 'home/base.html' %}

{% load static %}

{% block title %}Editar curso - {{ course.name }}{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title">Editar Curso: {{ course.name }}</h1>
    <form method="post" enctype="multipart/form-data" class="edit-course-form">
        {% csrf_token %}
        
        <div class="form-grid">
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.price.label_tag }}
                {{ form.price }}
                {% if form.price.errors %}
                    <div class="error-message">{{ form.price.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group image-preview-group">
                {% if course.image %}
                    <label for="id_image" id="current-image-label">Imagen actual</label>
                    <img src="{{ course.image.url }}" alt="Imagen actual" class="image-preview" id="current-image-preview">
                {% else %}
                    <p class="no-image" id="no-image-text">No hay imagen disponible</p>
                {% endif %}
                <div class="form-group">
                    <img id="new-image-preview" class="image-preview" style="display: none;" />
                    <label for="id_image" class="image-label">Subir nueva imagen</label>
                    <input type="file" name="image" id="id_image" class="file-input" onchange="previewImage(event)">
                </div>
            </div>
            <div class="form-group">
                {{ form.teacher.label_tag }}
                {{ form.teacher }}
            </div>
            <div class="form-group">
                {{ form.capacity.label_tag }}
                {{ form.capacity }}
                {% if form.capacity.errors %}
                    <div class="error-message">{{ form.capacity.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.starting_date.label_tag }}
                {{ form.starting_date }}
                {% if form.starting_date.errors %}
                    <div class="error-message">{{ form.starting_date.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.ending_date.label_tag }}
                {{ form.ending_date }}
                {% if form.ending_date.errors %}
                    <div class="error-message">{{ form.ending_date.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.type.label_tag }}
                {{ form.type }}
            </div>
        </div>

        <div class="button-container">
            <a href="{% url 'course_detail' course.pk %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var startingDateField = document.getElementById('id_starting_date');
        var endingDateField = document.getElementById('id_ending_date');
        var startingDateValue = "{{ course.starting_date|date:'Y-m-d' }}";
        var endingDateValue = "{{ course.ending_date|date:'Y-m-d' }}";
        if (startingDateField) {
            startingDateField.value = startingDateValue;
        }
        if (endingDateField) {
            endingDateField.value = endingDateValue;
        }
    });
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('new-image-preview');
            output.src = reader.result;
            output.style.display = 'block';
            // Ocultar la imagen actual si se selecciona una nueva
            var currentImage = document.getElementById('current-image-preview');
            var currentImageLabel = document.getElementById('current-image-label');
            if (currentImage) {
                currentImage.style.display = 'none';
            }
            if (currentImageLabel) {
                currentImageLabel.style.display = 'none';
            }
            // Ocultar el texto "No hay imagen disponible" si se selecciona una nueva imagen
            var noImageText = document.getElementById('no-image-text');
            if (noImageText) {
                noImageText.style.display = 'none';
            }
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
